use {{ mongo_db }}

db.createUser({
    user:"{{ mongo_user }}",
    pwd:"{{ mongo_passwd }}",
    roles:[{
        role:"dbAdmin",
        db:"{{ mongo_db }}"
    },{
        role:"readWrite",
        db:"{{ mongo_db }}"
    }]
})

db.auth("{{ mongo_user }}", "{{ mongo_passwd }}")
